body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background-color: rgb(203, 231, 255);
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: pink;
  width: 100vw;
  height: 150px;
  position: relative;
}

.heading {
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
}

.click-btn {
  position: absolute;
  bottom: 10px;
  right: 20px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50px;
  color: white;
  background-color: rgb(173, 130, 137);
  font-size: 40px;
  align-items: center;
  text-align: center;
}

.click-btn:hover {
  background-color: rgb(255, 119, 142);
}

.form-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 300px;
  border-radius: 20px;
  padding: 20px;
  background-color: rgb(167, 167, 167);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

#book-form {
  display: flex;
  flex-direction: column;
}

.button-store {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  gap: 10px;
}

.submit-btn,
.cancel-btn {
  width: 75px;
  height: 30px;
  border: none;
  color: white;
  font-weight: bolder;
}

.submit-btn {
  background-color: rgb(85, 194, 85);
}

.submit-btn:hover {
  background-color: rgb(137, 230, 137);
}

.cancel-btn {
  background-color: rgb(250, 41, 41);
}

.cancel-btn:hover {
  background-color: rgb(243, 89, 89);
}

.book-card {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  margin: 10px;
  background-color: rgb(219, 219, 219);
  width: 200px;
}

.book-card h2 {
  margin: 0;
  padding-top: 10px;
  text-align: center;
}

.remove-btn-div {
  display: flex;
  justify-content: center;
}

.book-card button {
  margin-top: 10px;
  margin-left: 60px;
  width: 75px;
  height: 30px;
  border: none;
  background-color: rgb(250, 41, 41);
  color: rgb(255, 255, 255);
  font-weight: bolder;
}

.book-card button:hover {
  background-color: rgb(243, 89, 89);
}

.book-card p {
  margin: 0;
  margin-top: 14px;
  margin-left: 10px;
}

.container-body {
  display: flex;
  flex-direction: row;
}
